$yellow: #fffa17;
$red: #bf2300;
$green: #017a48;


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $red;
    color: black;
    @include margenes(50px,0px);
}

.footer{
    padding: 10px 10px 10px;
    background-color: $green;
    @include margenes(10px,0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(15px,0px);
}

.btn-reserva{
    width: 100%;
     
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}