.jumbotron {
  background-color: #bf2300;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer {
  padding: 10px 10px 10px;
  background-color: #017a48;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
